<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviar parámetros del request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del request HTTP GET - URL</h1>
	<ul>
		<li><a th:href="@{/params/string(texto='Hola Andrés')}">/params/string?texto=Hola Andrés</a></li>
		<li><a th:href="@{/params/string(texto='Qué tal John!')}">/params/string?texto=Qué tal John!</a></li>
		<li><a th:href="@{/params/mix-params(saludo='Cómo estas Andrés?', numero=7)}">/params/mix-params?saludo=Cómo estas Andrés?&numero=7</a></li>
		<li><a th:href="@{/params/mix-params-request(saludo='Cómo estas Andrés?', numero=7)}">/params/mix-params-request?saludo=Cómo estas Andrés?&numero=7</a></li>
	</ul>
</body>
</html>